
.wc-csr-info
{
    padding: 1em 1.618em;
    position: relative;
    background-color: #1e85be;
    margin-bottom: 2.617924em;
    color: #fff;
    list-style: none;
    width: auto;
    word-wrap: break-word;
    border-left: .6180469716em solid rgba(0,0,0,.15);
}

table.wp-list-table .column-qty_in_carts {
        width: 22%;
}
